.rectangle25 {
  position: absolute;
  top: 730px;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
  height: 70px;
}
.text26,
.text27,
.text28 {
  position: absolute;
  top: 732px;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 120px;
  height: 68px;
}
.text27,
.text28 {
  top: 731px;
  left: 122px;
  height: 69px;
}
.text28 {
  left: 245px;
  width: 115px;
}
.rectangle-icon3,
.rectangle-icon4,
.rectangle-icon5 {
  position: absolute;
  top: 733px;
  left: 31px;
  border-radius: var(--br-lgi);
  width: 51px;
  height: 40px;
  object-fit: cover;
}
.rectangle-icon4,
.rectangle-icon5 {
  top: 732px;
  left: 152px;
  border-radius: var(--br-xl);
}
.rectangle-icon5 {
  left: 277px;
}
.rectangle26 {
  position: absolute;
  top: 75px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 360px;
  height: 655px;
}
.text29 {
  position: absolute;
  top: 22px;
  left: 59px;
  font-weight: 500;
  display: inline-block;
  width: 244px;
  height: 46px;
}
.rectangle-icon6 {
  position: absolute;
  top: 228px;
  left: 49px;
  width: 264px;
  height: 232px;
  object-fit: cover;
}
.text30 {
  position: absolute;
  top: 454px;
  left: 39px;
  font-size: var(--font-size-base);
  font-weight: 300;
  display: inline-block;
  width: 274px;
  height: 52px;
}
.frame-child61 {
  width: 57px;
  height: 72px;
  object-fit: cover;
}
.frame-child61,
.frame-child63,
.frame54 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.frame54 {
  background-color: var(--blue-04);
  width: 360px;
  height: 800px;
}
.frame-child63 {
  width: 57px;
  height: 72px;
}
.frame-child64,
.frame-child65 {
  position: absolute;
  background-color: var(--color-lavender);
}
.frame-child64 {
  top: 103px;
  left: 21px;
  border-radius: var(--br-7xl);
  width: 319px;
  height: 156px;
}
.frame-child65 {
  top: 114px;
  left: 33px;
  width: 291px;
  height: 134px;
}
.ng-dng-qun-l-sc-khe-gia {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 24px;
}
.ng-dng-qun-container1 {
  width: 100%;
}
.ng-dng-qun-container {
  position: absolute;
  top: 114px;
  left: 33px;
  font-size: var(--font-size-lg);
  text-align: left;
  display: flex;
  align-items: center;
  width: 291px;
  height: 134px;
}
.vector-icon8,
.vector-icon9 {
  height: 3.88%;
  top: 92.63%;
  bottom: 3.5%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon8 {
  position: absolute;
  width: 10.28%;
  right: 78.33%;
  left: 11.39%;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon9 {
  width: 8.61%;
  right: 45%;
  left: 46.39%;
}
.frame49,
.vector-icon10,
.vector-icon9 {
  position: absolute;
  overflow: hidden;
}
.vector-icon10 {
  height: 3.88%;
  width: 8.61%;
  top: 92.63%;
  right: 11.94%;
  bottom: 3.5%;
  left: 79.44%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.frame49 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 800px;
}
.ui-icon18 {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 68px;
  height: 16px;
  object-fit: cover;
}
.time37 {
  position: absolute;
  width: calc(100% - 2px);
  top: calc(50% - 5.5px);
  left: 0.3px;
  letter-spacing: -0.33px;
  font-weight: 600;
  display: inline-block;
}
.status-bar17,
.time36 {
  position: absolute;
  top: 8px;
  left: 21px;
  width: 56px;
  height: 23px;
}
.status-bar17 {
  top: -14px;
  left: 0;
  width: 360px;
  height: 29px;
  font-size: var(--font-size-mini);
  font-family: var(--font-sf-pro-text);
}
.frame48 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
