.rectangle33,
.rectangle34 {
  position: absolute;
  top: 730px;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
  height: 70px;
}
.rectangle34 {
  top: 75px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  height: 766px;
}
.text41 {
  position: absolute;
  top: 22px;
  left: 59px;
  font-weight: 500;
  display: inline-block;
  width: 244px;
  height: 46px;
}
.rectangle-icon13 {
  position: absolute;
  top: 228px;
  left: 49px;
  width: 264px;
  height: 232px;
  object-fit: cover;
}
.text42 {
  position: absolute;
  top: 454px;
  left: 39px;
  font-size: var(--font-size-base);
  font-weight: 300;
  display: inline-block;
  width: 274px;
  height: 52px;
}
.frame-child83 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 72px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.frame81,
.frame82,
.frame85 {
  height: 800px;
  overflow: hidden;
}
.frame85 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
}
.frame81,
.frame82 {
  background-color: var(--color-white);
}
.frame82 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
}
.frame81 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
