.rectangle15,
.rectangle16,
.rectangle17 {
  position: absolute;
  top: 730px;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
  height: 70px;
}
.rectangle16,
.rectangle17 {
  top: 75px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  height: 655px;
}
.rectangle17 {
  height: 778px;
}
.lch-s-t {
  margin: 0;
}
.text15 {
  position: absolute;
  top: 22px;
  left: 59px;
  font-weight: 500;
  display: inline-block;
  width: 244px;
  height: 46px;
}
.rectangle-icon1 {
  position: absolute;
  top: 228px;
  left: 49px;
  width: 264px;
  height: 232px;
  object-fit: cover;
}
.text16 {
  position: absolute;
  top: 454px;
  left: 39px;
  font-size: var(--font-size-base);
  font-weight: 300;
  display: inline-block;
  width: 274px;
  height: 52px;
}
.frame-child25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 72px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.frame30,
.frame31,
.frame35 {
  height: 800px;
  overflow: hidden;
}
.frame35 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
}
.frame30,
.frame31 {
  background-color: var(--color-white);
}
.frame31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
}
.frame30 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
