.rectangle9 {
  position: absolute;
  top: 68px;
  left: 1px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 360px;
  height: 655px;
}
.qun-l-thng {
  margin: 0;
}
.qun-l-thng-container1 {
  width: 100%;
}
.qun-l-thng-container {
  position: absolute;
  top: 236px;
  left: 15px;
  display: flex;
  align-items: flex-end;
  width: 140px;
  height: 59px;
  opacity: 0.7;
}
.xin-cho-trng-container {
  position: absolute;
  top: 3px;
  left: 85px;
  font-family: var(--font-actor);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 310px;
}
.text6,
.text7 {
  position: absolute;
  top: 729px;
  left: 1px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 120px;
  height: 68px;
}
.text7 {
  left: 121px;
  height: 69px;
}
.text8,
.vector-icon {
  position: absolute;
  cursor: pointer;
}
.vector-icon {
  height: 3.86%;
  width: 8.56%;
  top: 92.28%;
  right: 12.98%;
  bottom: 3.86%;
  left: 78.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.text8 {
  top: 729px;
  left: 241px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 115px;
  height: 69px;
}
.screenshot-2023-12-19-152849-1 {
  position: absolute;
  top: -41px;
  left: -41px;
  width: 189px;
  height: 187px;
  object-fit: cover;
}
.screenshot-2023-12-19-152849-1-wrapper {
  position: absolute;
  top: 129px;
  left: 31px;
  width: 108px;
  height: 99px;
  overflow: hidden;
  cursor: pointer;
}
.screenshot-2023-12-19-152952-1 {
  position: absolute;
  top: -14px;
  left: -22px;
  width: 145px;
  height: 135px;
  object-fit: cover;
}
.screenshot-2023-12-19-152952-1-wrapper {
  position: absolute;
  top: 129px;
  left: 214px;
  width: 107px;
  height: 107px;
  overflow: hidden;
  cursor: pointer;
}
.theo-di-sc-container {
  position: absolute;
  top: 243px;
  left: 224px;
  opacity: 0.7;
}
.image-1-icon {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 102px;
  height: 96px;
  object-fit: cover;
}
.frame-div,
.image-1-wrapper {
  position: absolute;
  overflow: hidden;
}
.image-1-wrapper {
  top: 341px;
  left: 31px;
  width: 108px;
  height: 108px;
  cursor: pointer;
}
.frame-div {
  top: 347px;
  left: 214px;
  width: 104px;
  height: 109px;
}
.screenshot-2023-12-19-153554-1 {
  position: absolute;
  top: 336px;
  left: 214px;
  width: 107px;
  height: 102px;
  object-fit: cover;
  cursor: pointer;
}
.kt-ni-gia-container,
.t-vn-sc-container {
  position: absolute;
  top: 449px;
  left: 43px;
  opacity: 0.7;
}
.kt-ni-gia-container {
  left: 236px;
}
.image-2-icon {
  position: absolute;
  top: -3px;
  left: 0;
  width: 105px;
  height: 105px;
  object-fit: cover;
}
.image-2-wrapper,
.xem-thm {
  position: absolute;
  cursor: pointer;
}
.image-2-wrapper {
  top: 545px;
  left: 119px;
  width: 105px;
  height: 100px;
  overflow: hidden;
}
.xem-thm {
  top: 647px;
  left: 126px;
  opacity: 0.7;
}
.account-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon1 {
  height: 3.86%;
  width: 9.67%;
  top: 92.28%;
  right: 79.01%;
  bottom: 3.86%;
  left: 11.33%;
  max-width: 100%;
  max-height: 100%;
}
.account-icon,
.vector-icon2 {
  top: 3px;
  left: 15px;
  width: 49px;
  height: 49px;
}
.vector-icon2 {
  height: 3.86%;
  width: 8.56%;
  top: 92.15%;
  right: 45.86%;
  bottom: 3.99%;
  left: 45.58%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.rectangle-parent {
  position: relative;
  background-color: var(--blue-04);
  width: 100%;
  height: 803px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-lora);
}
