.rectangle21,
.rectangle22 {
  position: absolute;
  top: 730px;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
  height: 70px;
}
.rectangle22 {
  top: 75px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  height: 771px;
}
.frame-icon1 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 52px;
  height: 75px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.text19 {
  position: absolute;
  top: 3px;
  left: 42px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 297px;
  height: 54px;
}
.ellipse-icon {
  position: absolute;
  top: 108px;
  left: 104px;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  object-fit: cover;
}
.email {
  position: absolute;
  top: 1px;
  left: 2px;
  font-weight: 300;
  display: inline-block;
  width: 107px;
  height: 21px;
}
.frame-child28 {
  position: absolute;
  top: 24.5px;
  left: 1.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 324px;
  height: 1px;
}
.email-parent {
  position: absolute;
  top: 184px;
  left: 10px;
  width: 325px;
  height: 25px;
  overflow: hidden;
}
.nm-sinh {
  position: absolute;
  top: 40px;
  left: 9px;
  font-weight: 300;
  display: inline-block;
  width: 77px;
  height: 23px;
}
.frame-child29 {
  position: absolute;
  top: 27.5px;
  left: 8.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 331px;
  height: 1px;
}
.gii-tnh,
.s-in-thoi {
  position: absolute;
  top: 40px;
  left: 229px;
  font-weight: 300;
  display: inline-block;
  width: 80px;
  height: 21px;
}
.s-in-thoi {
  top: 76px;
  left: 10px;
  width: 107px;
}
.frame-child30,
.frame-child31,
.frame-child32 {
  position: absolute;
  top: 62.5px;
  left: 9.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 171px;
  height: 1px;
}
.frame-child31,
.frame-child32 {
  top: 96.5px;
  left: 10.5px;
  width: 324px;
}
.frame-child32 {
  top: 62.5px;
  left: 228.5px;
  width: 111px;
}
.a-ch-parent,
.ngh-nghip-parent {
  position: absolute;
  top: 109px;
  left: 10px;
  width: 325px;
  height: 25px;
  overflow: hidden;
}
.a-ch-parent {
  top: 146px;
  left: 9px;
}
.h-v-tn {
  position: absolute;
  top: 7px;
  left: 14px;
  font-weight: 300;
  display: inline-block;
  width: 161px;
  height: 21px;
}
.frame-child35 {
  position: absolute;
  top: 40px;
  left: 5px;
  width: 334px;
  height: 34px;
  overflow: hidden;
}
.frame-child36 {
  position: absolute;
  top: 109.5px;
  left: 13.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 317px;
  height: 1px;
}
.cmndcccd {
  position: absolute;
  top: 87px;
  left: 14px;
  font-weight: 300;
  display: inline-block;
  width: 117px;
  height: 23px;
}
.frame-group,
.frame-parent {
  position: absolute;
  top: 137px;
  left: 0;
  width: 339px;
  height: 220px;
  overflow: hidden;
}
.frame-parent {
  top: 301px;
  left: 18px;
  width: 350px;
  height: 247px;
  text-align: left;
}
.ellipse-div {
  position: absolute;
  top: 639px;
  left: 73px;
  border-radius: 50%;
  background-color: var(--blue-04);
  width: 213px;
  height: 38px;
}
.lu-thng-tin {
  position: absolute;
  top: 648px;
  left: 128px;
  font-weight: 900;
  cursor: pointer;
}
.frame42,
.frame44 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
  height: 800px;
  overflow: hidden;
}
.frame42 {
  background-color: var(--color-white);
}
.ui-icon16 {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 68px;
  height: 16px;
  object-fit: cover;
}
.time33 {
  position: absolute;
  width: calc(100% - 2px);
  top: calc(50% - 5.5px);
  left: 0.3px;
  letter-spacing: -0.33px;
  font-weight: 600;
  display: inline-block;
}
.status-bar15,
.time32 {
  position: absolute;
  top: 8px;
  left: 21px;
  width: 56px;
  height: 23px;
}
.status-bar15 {
  top: -14px;
  left: 0;
  width: 360px;
  height: 29px;
  font-size: var(--font-size-mini);
  font-family: var(--font-sf-pro-text);
}
.frame41 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
