.rectangle31 {
  position: absolute;
  top: 730px;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
  height: 70px;
}
.frame-child66,
.rectangle-icon11 {
  position: absolute;
  left: 0;
  object-fit: cover;
}
.rectangle-icon11 {
  top: 72px;
  border-radius: var(--br-31xl);
  width: 360px;
  height: 765px;
}
.frame-child66 {
  top: 0;
  width: 57px;
  height: 72px;
  overflow: hidden;
}
.ng-k {
  position: absolute;
  top: 91px;
  left: 57px;
  font-weight: 500;
  display: inline-block;
  width: 226px;
  height: 35px;
}
.frame-child67,
.hon-thnh1 {
  position: absolute;
  top: 687px;
  left: 63px;
  width: 232px;
  height: 52px;
}
.frame-child67 {
  border-radius: var(--br-7xl);
  background-color: var(--blue-04);
}
.hon-thnh1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.frame67,
.sdt-child14 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame67 {
  background-color: var(--blue-04);
  width: 360px;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: 25px;
  color: var(--color-black);
}
.sdt-child14 {
  border-radius: var(--br-28xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 299px;
  height: 46px;
}
.text-field13 {
  position: absolute;
  top: 13px;
  left: 44px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 212px;
  height: 19px;
}
.sdt-child15,
.text-input13 {
  position: absolute;
  display: none;
}
.text-input13 {
  top: 13px;
  left: 44px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  align-items: center;
  width: 212px;
  height: 19px;
}
.sdt-child15 {
  top: 14.5px;
  left: 43.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 14px;
}
.frame66,
.sdt10,
.sdt9 {
  position: absolute;
  top: 404px;
  left: 28px;
  width: 299px;
  height: 46px;
}
.frame66,
.sdt10 {
  top: 475px;
}
.frame66 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 360px;
  height: 800px;
  overflow: hidden;
}
.sdt11,
.sdt12,
.sdt13 {
  position: absolute;
  top: 178px;
  left: 28px;
  width: 299px;
  height: 46px;
}
.sdt12,
.sdt13 {
  top: 256px;
}
.sdt13 {
  top: 334px;
  left: 29px;
}
.frame65 {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--blue-02);
  font-family: var(--font-inter);
}
