.rectangle37 {
  position: absolute;
  top: 75px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 360px;
  height: 774px;
}
.text45 {
  position: absolute;
  top: 22px;
  left: 59px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 244px;
  height: 46px;
}
.frame-child85 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 72px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.email1 {
  position: absolute;
  top: 1px;
  left: 2px;
  font-weight: 300;
  display: inline-block;
  width: 107px;
  height: 21px;
}
.frame-child87 {
  position: absolute;
  top: 24.5px;
  left: 1.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 324px;
  height: 1px;
}
.email-group {
  position: absolute;
  top: 184px;
  left: 10px;
  width: 325px;
  height: 25px;
  overflow: hidden;
}
.nm-sinh1 {
  position: absolute;
  top: 40px;
  left: 9px;
  font-weight: 300;
  display: inline-block;
  width: 77px;
  height: 23px;
}
.frame-child88 {
  position: absolute;
  top: 27.5px;
  left: 8.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 331px;
  height: 1px;
}
.gii-tnh1,
.h-v-tn1,
.s-in-thoi1 {
  position: absolute;
  top: 7px;
  left: 13px;
  font-weight: 300;
  display: inline-block;
  width: 161px;
  height: 21px;
}
.gii-tnh1,
.s-in-thoi1 {
  top: 40px;
  left: 229px;
  width: 80px;
}
.s-in-thoi1 {
  top: 76px;
  left: 10px;
  width: 107px;
}
.frame-child89,
.frame-child90,
.frame-child91 {
  position: absolute;
  top: 62.5px;
  left: 9.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 171px;
  height: 1px;
}
.frame-child90,
.frame-child91 {
  top: 96.5px;
  left: 10.5px;
  width: 324px;
}
.frame-child91 {
  top: 62.5px;
  left: 228.5px;
  width: 111px;
}
.a-ch-group,
.frame-container,
.ngh-nghip-group {
  position: absolute;
  top: 109px;
  left: 10px;
  width: 325px;
  height: 25px;
  overflow: hidden;
}
.a-ch-group,
.frame-container {
  top: 146px;
  left: 9px;
}
.frame-container {
  top: 148px;
  left: 0;
  width: 360px;
  height: 209px;
  text-align: left;
}
.h-v-tn3 {
  position: absolute;
  top: 7px;
  left: 14px;
  font-weight: 300;
  display: inline-block;
  width: 161px;
  height: 21px;
}
.frame-child101,
.frame-parent1 {
  position: absolute;
  top: 137px;
  left: 0;
  width: 339px;
  height: 220px;
  overflow: hidden;
}
.frame-parent1 {
  top: 413px;
  width: 360px;
  height: 209px;
  text-align: left;
}
.frame-child104 {
  position: absolute;
  top: 15px;
  left: 25px;
  border-radius: 50%;
  background-color: var(--blue-04);
  width: 213px;
  height: 38px;
}
.lu-thng-tin1 {
  position: absolute;
  top: 24px;
  left: 73px;
  font-weight: 900;
}
.ellipse-parent {
  position: absolute;
  top: 667px;
  left: 48px;
  width: 255px;
  height: 53px;
  overflow: hidden;
  cursor: pointer;
}
.frame92,
.frame95 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
  height: 800px;
  overflow: hidden;
}
.frame92 {
  background-color: var(--color-white);
}
.ui-icon22 {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 68px;
  height: 16px;
  object-fit: cover;
}
.time45 {
  position: absolute;
  width: calc(100% - 2px);
  top: calc(50% - 5.5px);
  left: 0.3px;
  letter-spacing: -0.33px;
  font-weight: 600;
  display: inline-block;
}
.status-bar21,
.time44 {
  position: absolute;
  top: 8px;
  left: 21px;
  width: 56px;
  height: 23px;
}
.status-bar21 {
  top: -14px;
  left: 0;
  width: 360px;
  height: 29px;
  font-size: var(--font-size-mini);
  font-family: var(--font-sf-pro-text);
}
.frame91 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
