body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-otomanopee-one: "Otomanopee One";
  --font-kodchasan: Kodchasan;
  --font-sf-pro-text: "SF Pro Text";
  --font-inter: Inter;
  --font-lora: Lora;
  --font-actor: Actor;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-2xs: 11px;
  --font-size-lg: 18px;

  /* Colors */
  --blue-04: #90caf9;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.7);
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --blue-02: rgba(0, 0, 0, 0.2);
  --color-white: #fff;
  --color-blueviolet: #9747ff;
  --color-red-100: #ff0000;
  --color-lavender: #cbe3f6;
  --color-lavenderblush: #f6eded;

  /* Border radiuses */
  --br-149xl-5: 168.5px;
  --br-10xl-5: 29.5px;
  --br-28xl: 47px;
  --br-31xl: 50px;
  --br-xl: 20px;
  --br-8xs: 5px;
  --br-2xs: 11px;
  --br-lgi: 19px;
  --br-7xl: 26px;
  --br-17xl: 36px;
  --br-38xl: 57px;
  --br-2xl: 21px;
  --br-3xs: 10px;
}
