.login-child {
  position: absolute;
  height: calc(100% - 614px);
  top: 70px;
  bottom: 544px;
  left: calc(50% - 98px);
  border-radius: var(--br-149xl-5);
  max-height: 100%;
  width: 195px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.login-item,
.pass-child {
  position: absolute;
  top: 307px;
  left: 0;
  background-color: var(--blue-04);
  width: 360px;
  height: 164px;
}
.pass-child {
  top: 0;
  border-radius: var(--br-28xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 299px;
  height: 46px;
}
.text-field24 {
  position: absolute;
  top: 13px;
  left: 44px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 212px;
  height: 19px;
}
.pass-item,
.text-input24 {
  position: absolute;
  display: none;
}
.text-input24 {
  top: 13px;
  left: 44px;
  font-weight: 600;
  color: var(--color-black);
  align-items: center;
  width: 212px;
  height: 19px;
  opacity: 0.2;
}
.pass-item {
  top: 14.5px;
  left: 43.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 14px;
}
.pass {
  position: absolute;
  top: 400px;
  left: 30px;
  width: 299px;
  height: 46px;
  text-align: left;
}
.text-input25 {
  position: absolute;
  top: 13px;
  left: 44px;
  display: none;
  color: var(--color-black);
  align-items: center;
  width: 212px;
  height: 19px;
}
.sdt20 {
  position: absolute;
  top: 328px;
  left: 30px;
  width: 299px;
  height: 46px;
  text-align: left;
}
.ng-nhp,
.qun-mt-khu {
  position: absolute;
  text-decoration: underline;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ng-nhp {
  top: 497px;
  left: 74px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  width: 196px;
  height: 40px;
  cursor: pointer;
}
.qun-mt-khu {
  top: 463px;
  left: 212px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-100);
  width: 117px;
  height: 20px;
  opacity: 0.6;
}
.bn-cha-c {
  font-weight: 500;
}
.ng-k-ngay {
  font-weight: 600;
  color: var(--color-black);
}
.bn-cha-c-container1 {
  width: 100%;
}
.bn-cha-c-container {
  position: absolute;
  top: 766px;
  left: 0;
  display: flex;
  align-items: center;
  width: 360px;
  height: 27px;
  cursor: pointer;
  color: var(--color-gray-100);
}
.login-inner {
  position: absolute;
  top: 488px;
  left: 91px;
  width: 161px;
  height: 61px;
  overflow: hidden;
  cursor: pointer;
}
.login {
  position: relative;
  background-color: var(--blue-04);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--blue-02);
  font-family: var(--font-inter);
}
